<div class="content-container">









{% for aboutText in craft.entries.section('about') %}

              <h1 class="about-header">{{aboutText.aboutHeader}}</h1>
              <div class="about-body">
                {{aboutText.aboutBody}}
              </div>









<!-- carousel -->



{% include "parts/videoSlides" %}

<!-- carousel -->

{% endfor %}

</div>
