<section>
<h1>contact</h1>



    <form id="ajax-contact" method="post" action="database.php" style="position:relative;">

            <div class="field for-recipientEmail" style="display:none;">
                <!-- <label for="name">Name:</label> -->
        <input placeholder="recipient" type="text" id="recipient" name="recipient" value="{{ block.eventsbookingRecipientEmail }}" required>
            </div>




<div class="field submission">
    <input type="submit" value="Send" style="z-index: 1000;">

</div>

<!--
            <div class="field">
                <button type="submit">Send</button>
            </div> -->
        </form>

</section>