<div class="section-region" id="contact-footer">
  <div class="container">
    <div class="">



       <div class="row">
            <div class="span12">


<p class="footerinfo">
<span class="hours">Mon - Sat: 11am - 9pm, Sun: 11am - 8pm</span>
<br>
<span class="hours">Happy Hour: 3 - 6 pm, Dinner: 6pm - Close</span>
<br>
<span class="address">2020 6th Ave Seattle, WA 98121</span>
</p>



            </div>
        </div>


</div>
</div>
</div>




