<div class="section-region" id="contact-footer">
  <div class="container">
    <div class="">



       <div class="row">
            <div class="span12">




{% for footerInfo in craft.entries.section('globals') %}


<p class="footerinfo">
<span class="hours">{{footerInfo.hoursLineOne}}</span>
<br>
<span class="hours">{{footerInfo.hoursLineTwo}}</span>
<br>
<span class="address">{{footerInfo.address}}</span>
</p>






{% endfor %}









            </div>
        </div>


</div>
</div>
</div>
