<div class="section-region" id="contact">
  <div class="container">
    <div class="padding-wrap">



       <div class="row">
            <div class="span12">

                <h3>open daily, hours:</h3>

                <ul>
                                        <li>
                        <strong>
                            <span class="accent">brunch</span></strong> | <strong>10a - 2:30p sa/su
                        </strong>
                        <br>
                    </li>
                                        <li>
                        <strong>
                            <span class="accent">lunch</span></strong> | <strong>11:30a - 4p daily
                        </strong>
                        <br>
                    </li>
                                        <li>
                        <strong>
                            <span class="accent">happy hour</span></strong> | <strong>4p - 6p daily
                        </strong>
                        <br>
                    </li>
                                        <li>
                        <strong>
                            <span class="accent">dinner</span></strong> | <strong>5p - 10p daily
                        </strong>
                        <br>
                    </li>
                                        <li>
                        <strong>
                            <span class="accent">late night</span></strong> | <strong>10p - 11p fr/sa
                        </strong>
                        <br>
                    </li>
                                        <li>
                        <strong>
                            <span class="accent">to go</span></strong> | <strong>11:30a - 10p su-th, 11p fr/sa
                        </strong>
                        <br>
                    </li>
                                    </ul>

                <hr>

                <p class="address">
                 Amazon Building Doppler, 2020 6th Ave, Seattle, WA 98121
                </p>

            </div>
        </div>


</div>
</div>
</div>




