{% for aboutText in craft.entries.section('about') %}
  <div class="map-panel">
    <div class="map-text">
      <div class="map-text-header">
        {{ aboutText.mapTitle }}
      </div>
        <div class="map-text-body">
        {{ aboutText.mapText }}
      </div>
    </div>
    <div class="map-module">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.588646044911!2d-122.34058938404583!3d47.61468777918518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154b09b9aa47%3A0x352f82a23182d965!2sMamnoon+Street!5e0!3m2!1sen!2sus!4v1511207169457" width="100%" height="550px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  <div class="map-text-body-mobile">
      <div class="map-text-body-mobile-text">
      {{ aboutText.mapText }}
    </div>
  </div>

  </div>
  {% endfor %}
