

<nav class="mamnoon-nav mobile" id="nav" style="">
  <ul class="main-nav">
<li>

<div class="menu-bars">menu</div>
</li>
  <li class="mobile-menu-links">
<!-- <li> -->
  {% if craft.request.isMobileBrowser %}
<!--<h1>mobile</h1>-->
    {% else %}
<!--<h1>not mobile</h1>-->
    {% endif %}


<!-- </li> -->


      <a href="/#menu">menu / </a>
      <a href="https://app.upserve.com/s/mamnoon-street-seattle" target="_blank">order</a>
    <br>
      <a href="#aboutcontainer">about</a>
    </li>

    </ul>




           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
