

<nav class="mamnoon-nav mobile" id="nav" style="">
  <ul class="main-nav">
<li>

<div class="menu-bars">menu</div>
</li>


{% for text in craft.entries.section('globals') %}
  {% if text.menupdf %}
    <li class="mobile-menu-links">
      <a href="{{ text.menupdf }}" target="_blank" class="menu">menu</a>
        </li>
  {% endif %}
{% endfor %}



    <li class="mobile-menu-links">
<a href="https://app.upserve.com/s/mamnoon-street-seattle" target="_blank">order online</a>
<!--<button class='upserve-olo-button upserve-olo-opener'>order</button>-->
  </li>

    <li class="mobile-menu-links">
      <a class="about" href="#aboutcontainer">about</a>
  </li>















    </ul>




           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
