

<nav class="mamnoon-nav mobile" id="nav" style="">
  <ul class="main-nav">
<li>

<div class="menu-bars">menu</div>
</li>
  <li class="mobile-menu-links">


<a href="/caviar" class="menu">menu / </a>
<a href="/caviar" class="menu">order</a>



    <br>
      <a class="about" href="#aboutcontainer">about</a>
    </li>

    </ul>




           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
