

<nav class="mamnoon-nav mobile" id="nav" style="">
  <ul class="main-nav">
<li>

<div class="menu-bars">menu</div>
</li>


{% for text in craft.entries.section('globals') %}
  {% if text.menupdf %}
    <li class="mobile-menu-links">
      <a href="{{ text.menupdf }}" target="_blank" class="menu">menu / </a>
        </li>
  {% endif %}
{% endfor %}



    <li class="mobile-menu-links">
<a href="https://www.trycaviar.com/m/mamnoon-street-6597" target="_blank">order</a>
  </li>

    <li class="mobile-menu-links">
      <a class="about" href="#aboutcontainer">about</a>
  </li>















    </ul>




           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
