

<nav class="mamnoon-nav mobile" id="nav" style="">
  <ul class="main-nav">
<li>

<div class="menu-bars">menu</div>
</li>
  <li class="mobile-menu-links">

{% for text in craft.entries.section('globals') %}
  {% if text.menupdf %}
      <a href="{{ text.menupdf }}" target="_blank" class="menu">menu / </a>
  {% endif %}
{% endfor %}
<a href="https://www.trycaviar.com/m/mamnoon-street-6597" target="_blank">order</a>


    <br>
      <a class="about" href="#aboutcontainer">about</a>
    </li>

    </ul>




           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
