<br>
<button class="hows-line">hows the line?</button>
<br>


<div class="line-modal" style="display: none;">

<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/iDyjcoXh5k?autoplay=1" allowfullscreen></iframe>

<button class="close">close</button></div>

<nav class="" id="nav" style="">
  <ul>
  <li>
      <a href="/#menu">menu</a>
    </li>

  <li>
      <a href="/order">order</a>
    </li>
<li>
      <a href="/#contact">contact</a>
    </li>

    </ul>
</nav>

