<div class="line-modal" style="display: none;">



<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>





<!--<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/iDyjcoXh5k?autoplay=1" allowfullscreen></iframe>-->

<button class="close">close</button></div>

<nav class="mamnoon-nav" id="nav" style="">




  <ul class="main-nav">
  <li>
      <a href="/#menu">menu / </a>
    </li>

  <li>
      <a href="https://app.upserve.com/s/mamnoon-street-seattle" target="_blank">order</a>
    </li>

    <li class="about">
      <a href="{{ siteUrl(about) }}about">about</a>
    </li>

    </ul>

  {% include "parts/social" %}


           {% if entry.section == "Homepage" %}
    <div class="logo-header" style="">mamnoon</div>
    {% endif %}
</nav>

