<div class="line-modal" style="display: none;">


<div class="video-background">

    <div class="video-foreground">






    </div>
  </div>

<button class="close">close</button></div>

<nav class="mamnoon-nav" id="nav" style="">
  <ul class="main-nav">


<li>
  {% if craft.request.isMobileBrowser %}
<!--<h1>mobile</h1>-->
    {% else %}
<!--<h1>not mobile</h1>-->
    {% endif %}


</li>



{% for text in craft.entries.section('globals') %}
  {% if text.menupdf %}
    <li class="firefoxfix">
      <a href="{{ text.menupdf }}" target="_blank" class="menu">menu / </a>
    </li>
  {% endif %}
{% endfor %}

  <li>
<a href="https://www.trycaviar.com/m/mamnoon-street-6597" target="_blank" class="menu">order</a>
    </li>

    <li>
      &nbsp;&nbsp;&nbsp;<a class="about" href="#aboutcontainer">about</a>
    </li>
<li>





</li>




    </ul>

  {% include "parts/social" %}


           {% if entry.section == "Homepage" %}

    {% endif %}
</nav>
{% include "parts/mobile-nav" %}

















<!-- matrix -->
<!-- matrix -->
<!-- matrix -->


<div style="display:none;">


{% for entry in craft.entries.section('globals') %}
{% for block in entry.landingPageTextMarquee %}
<div class="phrase-list">
  {% if block.type == 'singleLinePhrase' %}
  <div class="phrase">{{ block.phrase|raw }}</div>
  {% elseif block.type == 'twoLinePhrase' %}
  <div class="phrase">{{ block.phraseLineOne|raw }} {{ block.phraseLineTwo|raw }}</div>
  {% endif %}

</div>
{% endfor %}
{% endfor %}

</div>



<!-- matrix -->
<!-- matrix -->
<!-- matrix -->
