<div class="line-modal" style="display: none;">



<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>





<!--<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/iDyjcoXh5k?autoplay=1" allowfullscreen></iframe>-->

<button class="close">close</button></div>

<nav class="" id="nav" style="">
  <ul>
  <li>
      <a href="/#menu">menu</a>
    </li>

  <li>
      <a href="/order">order</a>
    </li>

    <li>
      <a href="{{ siteUrl(about) }}about">about</a>
    </li>

    </ul>
</nav>

