<nav class="menu-nav" id="nav" style="">
  <ul>
  <li>
      <a href="/#menu">menu</a>
    </li>

  <li>
      <a href="/order">order</a>
    </li>
<li>
      <a href="/#contact">contact</a>
    </li>

    </ul>
</nav>