
{% for aboutText in craft.entries.section('about') %}

{% for block in aboutText.press %}

    {% if block.type == "pressLinks" %}

<div class="pressitem">
    <a data="{{ loop.index }}" href="{{block.linkUrl}}" target="_blank">{{block.linkTitle}}</a>
</div>


    {% endif %}

{% endfor %}
{% endfor %}
