    <ul class="social-links">
<li>  <!-- Button -->
<div style="position: relative;width: 152px;background: white;height: 24px;border-radius: 4px;top: 0px;">
<div class="subscribe">
  <a data-toggle="modal" data-target="#modal" href="javascript://" id="button" style="color: #DF5857;font-size: 18px;outline: none;text-decoration:none;">join mailing list</a>
</div></div>
</li>

{% for socialItem in craft.entries.section('socialLinks') %}
<li>
<a target="_blank" href="{{ socialItem.linkUrl }}">

{% for asset in socialItem.image %}
    <img src="{{ asset.url }}">
{% endfor %}
</a>
</li>
{% endfor %}

    </ul>
