    <ul class="social-links">
<li>  <!-- Button -->
<div style="position: relative;width: 152px;background: white;height: 25px;border-radius: 5px;top: 1px;">
<div style="position: absolute;width: 500px;left: -174px;top: 1px;">
  <a data-toggle="modal" data-target="#modal" href="javascript://" id="button" style="color: #DF5857;font-size: 18px;outline: none;">join mailing list</a>
</div></div>
</li>

{% for socialItem in craft.entries.section('socialLinks') %}
<li>
<a target="_blank" href="{{ socialItem.linkUrl }}">

{% for asset in socialItem.image %}
    <img src="{{ asset.url }}">
{% endfor %}
</a>
</li>
{% endfor %}

    </ul>
