<nav>

    {% set page = craft.request.getSegment(2) %}
<!--     <a class="button {% if page == 'products' %}button-primary{% endif %}" href="{{ url('order/menu') }}">
   Menu
    </a> -->
<!--     <a class="button {% if page == 'cart' %}button-primary{% endif %}" href="{{ url('order/cart') }}">
        <i class="fa fa-shopping-cart"></i> {{ "Cart"|t }} ({{ cart.lineItems|length }})
    </a>
 -->
    <span class="right">
        {% if currentUser %}
          <a href="{{ url('order/customer') }}">{{ "My Orders"|t }}</a>
          — <a href="{{ url('order/customer/addresses') }}">{{ "My Addresses"|t }}</a>
          — <a href="{{ logoutUrl }}">Logout</a>
        {% else %}
          {{ "Guest"|t }}
        {% endif %}
          — <a class=" {% if page == 'cart' %}button-primary{% endif %}" href="{{ url('order/cart') }}">
        <i class="fa fa-shopping-cart"></i> {{ "Cart"|t }} ({{ cart.lineItems|length }})</a>
    </span>

</nav>
