om/*css reset*/

/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
      License: none (public domain)
      */

html {
  overflow-y: scroll;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css reset*/

/*css reset*/

body {
  font-family: sans-serif;
  background-color: #000;
  /*background-image: url("/assets/img/poster.png") top center;*/
}

body {
  padding: 0px !important;
  font: 400 14px 'Quicksand', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: bold;
}

#container, #about {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

#header {
  display: block;
  color: #fff;
  background: url(assets/logo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: darken;
  background-image: url(assets/logo.png);
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
  width: 700px;
  margin: -100px auto 0;
  height: 117px;
}

#footer {
  display: block;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: darken;
  background: rgba(128, 0, 0, 0.5);
  margin-top: 30px;
}

#header a, #footer a {
  color: #fff;
}

#header {
  border-radius: 7px 7px 0 0;
  padding: 25px;
}

#header:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#header a {
  text-decoration: none;
}

#header h1 {
  float: left;
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
}

#header {
  margin-bottom: 130px;
}

#content, #menu, .section-region {
  display: block;
  padding: 25px;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}

/*#menu{margin-top: 100px;}*/

#content h1, #menu h1, .section-region h1 {
  margin-top: 0;
  font-size: 35px;
  font-weight: bold;
}

#content a, #menu a, .section-region a {
  color: #da5a47;
  text-decoration: none;
}

#content a:hover, #menu a:hover, .section-region a:hover {
  text-decoration: underline;
}

#footer {
  border-radius: 0 0 7px 7px;
  padding: 15px;
  font-size: 12px;
  text-align: center;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

######### # menu # ######### #menu {
  padding: 15px 0 40px 0;
  background: url("/assets/img/bg-menu.png") top center;
  color: #605040;
}

#menu h2 {
  margin-bottom: 0;
}

#menu p {
  text-align: center;
}

#menu .padding-wrap {
  padding: 0 50px;
}

#menu ul.menu-nav {
  list-style: none;
  margin: 25px auto 5px auto;
  padding: 0;
  text-align: center;
  text-transform: lowercase;
}

#menu ul.menu-nav li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  width: 110px;
  width: 114px;
  line-height: 17px;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 16px;
}

#menu ul.menu-nav li a {
  color: #222;
}

#menu ul.menu-nav li a:hover {
  color: #c11637;
  text-decoration: none;
}

#menu ul.menu-nav li.active a {
  color: #c11637;
  font-weight: 700;
}

#menu hr {
  border: 0;
  height: 1px;
  background: #222;
  margin: 0 0 20px 0;
  padding: 0;
  opacity: 0.15;
  filter: alpha(opacity=15);
}

#menu h4 {
  font-size: 16px;
  color: #000;
}

#menu h6 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -7px;
  margin-bottom: 15px;
  line-height: 17px;
}

#menu .menu {
  display: none;
  text-transform: lowercase;
}

#menu .menu.active {
  display: block;
}

#menu ul.menu-items {
  list-style: none;
  margin: 0 0 25px 0;
}

#menu ul.menu-items li {
  font-size: 14px;
  margin-bottom: 15px;
}

#menu ul.menu-items li .menu-item-popover {
  display: none;
  background: url("/assets/img/menu-item-bubble-btm.png") right bottom no-repeat;
  padding-bottom: 18px;
}

#menu ul.menu-items li .menu-item-popover .info {
  background: #534741;
  padding: 15px 20px 10px 20px;
}

#menu ul.menu-items li .menu-item-popover .info p {
  text-transform: none;
  color: #9B9897;
  line-height: 16px;
}

#menu ul.menu-items li .menu-item-popover .info p.author {
  text-transform: lowercase;
  color: #cdcdcd;
}

#menu ul.menu-items li .menu-item-popover .info p.author:before {
  font-family: "WebSymbols";
  color: #cdcdcd;
  content: "c";
  padding-right: 7px;
}

#menu ul.menu-items li .menu-item-popover .info p.close a {
  color: #cdcdcd;
}

#menu ul.menu-items li .menu-item-popover .info p.close a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-decoration: none;
}

#menu ul.menu-items li p {
  text-align: left;
}

#menu ul.menu-items li .name {
  font-weight: 700;
}

#menu ul.menu-items li .price:before {
  content: "\2219";
  padding: 2px;
}

#menu ul.menu-items li .price {
  font-weight: 700;
  margin-left: -3px;
}

#menu ul.menu-items li .menu-item-info-btn {
  padding-left: 5px;
  color: #c11637;
}

#menu ul.menu-items li .menu-item-info-btn:hover {
  text-decoration: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

#menu h2 {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

p {
  /*text-align: center;*/
}

.padding-wrap {
  padding: 0 50px;
}

ul.menu-nav {
  list-style: none;
  margin: 25px auto 5px auto;
  padding: 0;
  text-align: center;
  text-transform: lowercase;
}

ul.menu-nav li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  width: 110px;
  width: 114px;
  line-height: 17px;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 16px;
}

ul.menu-nav li a {
  color: #222;
}

ul.menu-nav li a:hover {
  color: #c11637;
  text-decoration: none;
}

ul.menu-nav li.active a {
  color: #c11637;
  font-weight: 700;
}

hr {
  border: 0;
  height: 1px;
  background: #222;
  margin: 0 0 20px 0;
  padding: 0;
  opacity: 0.15;
  filter: alpha(opacity=15);
}

h4 {
  font-size: 16px;
  color: #000;
}

h6 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -7px;
  margin-bottom: 15px;
  line-height: 17px;
}

.menu {
  display: none;
  text-transform: lowercase;
}

.menu.active {
  display: block;
}

ul.menu-items {
  list-style: none;
  margin: 0 0 25px 0;
}

ul.menu-items li {
  font-size: 14px;
  margin-bottom: 15px;
}

ul.menu-items li .menu-item-popover {
  display: none;
  background: url("/assets/img/menu-item-bubble-btm.png") right bottom no-repeat;
  padding-bottom: 18px;
}

ul.menu-items li .menu-item-popover .info {
  background: #534741;
  padding: 15px 20px 10px 20px;
}

ul.menu-items li .menu-item-popover .info p {
  text-transform: none;
  color: #9B9897;
  line-height: 16px;
}

ul.menu-items li .menu-item-popover .info p.author {
  text-transform: lowercase;
  color: #cdcdcd;
}

ul.menu-items li .menu-item-popover .info p.author:before {
  font-family: "WebSymbols";
  color: #cdcdcd;
  content: "c";
  padding-right: 7px;
}

ul.menu-items li .menu-item-popover .info p.close a {
  color: #cdcdcd;
}

ul.menu-items li .menu-item-popover .info p.close a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-decoration: none;
}

ul.menu-items li p {
  text-align: left;
}

ul.menu-items li .name {
  font-weight: 700;
}

ul.menu-items li .price:before {
  content: "\2219";
  padding: 2px;
}

ul.menu-items li .price {
  font-weight: 700;
  margin-left: -3px;
}

ul.menu-items li .menu-item-info-btn {
  padding-left: 5px;
  color: #c11637;
}

ul.menu-items li .menu-item-info-btn:hover {
  text-decoration: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

h2 {
  text-align: center;
}

.flashing-text-box{
  height: 100vh;
  display: table;
  text-align: center;
  width: 100%;
  position: relative;
}


######### # menu # #########
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

.logo {
  width: 100%;
}

/*social links*/

.social-links {
  /*display: inline-block;*/
  /*list-style-type: none;*/
  /*padding: 0;*/
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.social-links li {
  /*float: left;*/
}

.social-links img {
  width: 24px;
  height: 24px;
}

.section-slide {
  background: pink;
  height: 100vh;
}

.social-links li {
  font-size: 0;
  color: transparent;
  margin-right: 8px;
}

.social-links li:last-child {
  margin-right: 0;
}

/*social links*/

#nav li {
  display: inline-block;
}

#nav ul {
  padding: 15px;
  padding-top: 15px;
}

.hows-line {
  float: right;
  top: -8px;
  right: 68px;
}

.line-modal {
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 0;
  height: 100vh;
}

.line-modal .close {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/close-up-modal-red.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  width: 88px;
  height: 88px;
  position: absolute;
  top: 104px;
  right: 78px;
  margin-left: -16px;
  color: transparent;
  outline: none;
}

.line-modal {
  box-sizing: border-box;
}

.line-modal .video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.line-modal .video-foreground, .line-modal .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.line-modal #vidtop-content {
  top: 0;
  color: #fff;
}

.line-modal .vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}

.line-modal .vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.line-modal .vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}

@media (min-aspect-ratio: 16/9) {
  .line-modal .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .line-modal .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media all and (max-width: 600px) {
  .line-modal .vid-info {
    width: 50%;
    padding: .5rem;
  }
  .line-modal .vid-info h1 {
    margin-bottom: .2rem;
  }
}

@media all and (max-width: 500px) {
  .line-modal .vid-info .acronym {
    display: none;
  }
}

.cart-draw {
  position: fixed;
  width: 25%;
  right: 0;
  top: 0;
}

.cart-draw.drawer-out {
  position: fixed;
  width: 25%;
  right: 0;
  top: 0;
}

.header-logo {
  width: 100%;
}

.mamnoon-nav {
  background-color: #DF5857;
  text-align: center;
    height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.mamnoon-nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.main-nav li:last-child {
  margin-left: 30px;
}

#nav li:nth-child {
  margin-left: 30px;
}

.hows-line {
  width: 104px;
  height: 104px;
  background: green;
  background: url("/assets/img/check-the-line.svg") top center;
  border: 0;
  color: transparent;
  cursor: pointer;
  margin-top: 66px;
  outline: none;
  margin-top: 106px;
  position: absolute;
  z-index: 100;
}

#contact-footer {
  height: 82px;
  width: 660px;
  background: url(/assets/img/hours-footer-transparent.svg) top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px 18px;
  z-index: 99;
  margin: 0 auto;
}

p.footerinfo {
  text-align: left;
  color: #DF5857;
  font-size: 16px;
  line-height: 24px;
}

.address, .phone a {
  line-height: 50px;
  color: #000000;
  font-style: italic;
  font-size: 16px;
}

.logo-header {
  background: url(/assets/img/logo.svg) top center no-repeat;
  background-size: 100%;
  color: transparent;
  height: 276px;
  width: 276px;
  position: absolute;
  top: 54px;
}

.flashing-text {
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.flashing-text h1{
  font-style: italic;
  font-size: 18vw;
}


.flashing-text h1 span{
    font-style: italic;
  font-size: 15vw;
  line-height: 15vw;
}


.flashing-text h1{
  margin-top: 117px;
  font-size: 15vw;
  margin: 0 auto;
}



body {
  position: relative;
}

 a.about.current {
  color: black;
}

@media screen and (max-width: 1400px) {
  #about, #container {
    width: 100%;
  }
}


.notification-bar-mobile{
  /*display: none;*/

}


@media screen and (max-width: 800px) {
  p.footerinfo {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .logo-header {
    background: url(/assets/img/logo.svg) top center;
    background-repeat: no-repeat;
    color: transparent;
    height: 180px;
    width: 180px;
  }
  #contact-footer {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    left: 0;
    padding: 5%;
    height: auto;
  }



    .notification-bar-mobile{
      display: block;
      background: url(/assets/img/notification-bg.png);
      /*position: absolute;*/
      padding: 10px 0 20px 0;
      bottom: 70px;
      z-index: 0;
      width: 100%;
      text-align: left;
      color: #DF5857;
      line-height: 26px;
      width: 100%;
    }


.notification-bar-body-mobile{
  width: 100%;
  margin: 0 auto;
}


.notification-bar-body-mobile h4{
  padding: 14px 0 0 14px;
}

.notification-bar-body-mobile p{
  padding: 0 14px 0 14px;
      text-align: left;
}

}

.flashing-text,
.flashing-text h1 {
  color: white;
  color: #DF5857;
  text-shadow: 6px 6px #FFF;
  color: #FFF;
  text-shadow: 6px 6px #DF5857;
  text-align: center;
  margin-top: 27px;
  font-style: italic;
}

.flashing-text,
.flashing-text .one-line{
  font-size: 13vw;
  line-height: 13vw;
}

.flashing-text .two-line span{
  font-size: 15vw;
  line-height: 15vw;
}


@-webkit-keyframes color_change {
  from {
    color: #DF5857;
    text-shadow: 6px 6px #FFF;
  }
  to {
    color: #FFF;
    text-shadow: 6px 6px #DF5857;
  }
}

@-moz-keyframes color_change {
  from {
    color: #DF5857;
    text-shadow: 6px 6px #FFF;
  }
  to {
    color: #FFF;
    text-shadow: 6px 6px #DF5857;
  }
}

@-ms-keyframes color_change {
  from {
    color: #DF5857;
    text-shadow: 6px 6px #FFF;
  }
  to {
    color: #FFF;
    text-shadow: 6px 6px #DF5857;
  }
}

@-o-keyframes color_change {
  from {
    color: #DF5857;
    text-shadow: 6px 6px #FFF;
  }
  to {
    color: #FFF;
    text-shadow: 6px 6px #DF5857;
  }
}

@keyframes color_change {
  from {
    color: #DF5857;
    text-shadow: 6px 6px #FFF;
  }
  to {
    color: #FFF;
    text-shadow: 6px 6px #DF5857;
  }
}

.about-panels {
  width: 100%;
  background: green;
  height: 100vh;
}

.left-about-panels {
  width: 50%;
  background: #000;
  height: 100vh;
  float: left;
  /*padding-top: 56px;*/
}

.right-about-panels {
  width: 50%;
  /*background: #565555;*/
background: #fff;
  height: 100vh;
  float: left;
  /*padding-top: 56px;*/

}

.catering-panel {
  width: 100%;
  background: white;
}

.press-panel {
  width: 100%;
  background: #565555;
  position: relative;
  /*min-height: 530px;*/
}

.content-container {
  padding: 40px 80px 40px 80px;
  text-align: left;
}

.left-about-panels .content-container{
      padding: 80px 80px 70px 80px;

}

.content-container h2 {
  text-align: left;
}

.press-tab {
  background: url(/assets/img/press-tab.svg) top center no-repeat;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.pressitem {
  width: 100%;
  text-align: left;
  /*float: left;*/
}

.pressitem a {
  color: red;
  text-transform: italic;
}

.video-thumbnails {
  min-height: 75px;
  /* margin-top: -2px; */
  color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

.about-header {
  color: #fff;
  margin-top: 12px;
  font-size: 26px;
}

.about-body {
  color: #DF5857;
  font-size: 13px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 90px;
}

.catering-header {
  font-size: 26px;
  font-style: italic;
  color: #DF5857;
}

.catering-body {
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 26px;
}

.catering-phone-number {
  font-size: 26px;
  font-style: italic;
  color: #DF5857;
}

.pressitem {}

.pressitem a {
  color: #DF5857;
  font-size: 16px;
  line-height: 38px;
  font-style: italic;
  text-decoration: none;
}

.content-container.press {
  padding-left: 37%;
  padding-top: 60px;
}



.content-container.press{

}

.about-panel {
  background: yellow;
  height: 100vh;
}


.bottom-area .notification-bar-mobile{
  display: none;
}




.notification-bar-mobile.tablet,
.notification-bar-mobile.phone{
  display: none;
}




@media screen and (max-width: 1300px) {



.notification-bar-mobile.tablet{
    display: block;
  }



.notification-bar{
    display: none;
}

.bottom-area .notification-bar-mobile{
  background: url(/assets/img/notification-bg.png);
  display: block;
  padding: 30px 65px;
  z-index: -1;
  width: 100%;
  text-align: left;
  color: #DF5857;
  line-height: 26px;
  width: 90%;
}


.bottom-area .notification-bar-mobile.phone{
display: none;
}


}



@media screen and (max-width: 1024px) {
  .left-about-panels, .right-about-panels {
    width: 100%;
  }
  .about-panels, .left-about-panels, .right-about-panels {
    height: auto;
  }
  .right-about-panels {
    padding-top: 0;
  }
}

.mobile-footer-social {
  display: none;
}



.main-box{
    height: 100vh;
    display: table;
  }



.phone-mob{
  display: none;
}

@media screen and (max-width: 768px) {
  .mamnoon-nav {
    text-align: left;
  }
  .press-tab {
    background: url(/assets/img/press-tab.svg) top center no-repeat;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
  }
  .mobile-footer-social {
    display: block;
    height: 56px;
    background-color: #DF5857;
  }
  .mobile-footer-social .social-links {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    float: right;
    position: initial;
    top: 10px;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
  }
  .mobile-footer-social .social-links li {
    float: left;
  }
  .hows-line {
    float: right;
    top: 0;
    right: 10px;
    width: 94px;
    height: 94px;
    background: green;
    background: url(/assets/img/check-the-line.svg) top center no-repeat;
    border: 0;
    color: transparent;
    cursor: pointer;
    margin-top: 66px;
    outline: none;
    margin-top: 66px;
    position: absolute;
    z-index: 100;
  }
  .flashing-text {
    /*display: block;*/
    /*margin-top: 190px;*/
  }
  .line-modal .close {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/close-up-modal-red.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    width: 88px;
    height: 78px;
    position: absolute;
    top: 74px;
    right: 8px;
    margin-left: -16px;
    color: transparent;
    outline: none;
  }

  /*.flashing-text h1.one-line {
margin-top: 50%;
  }

  .flashing-text h1.two-lines {
margin-top: 40%;
  }*/





  .content-container {
    padding: 30px 15px;
  }


.left-about-panels .content-container{
      padding: 30px 15px;
}


  .content-container.press {
    padding-left: 15px;
    padding-top: 150px;
  }
  .pressitem {
    width: 100%;
  }


.bottom-area .notification-bar-mobile.tablet{
  display: none;
}

.bottom-area .notification-bar-mobile.phone{
  display: block;
}


.main-box{
  height: 500px;
}


.flashing-text-box{
  height: 500px;
}


.phone-mob{
  display: block;
}

.phone.desk{
  display: none;
}

.address, .phone a {
    line-height: 26px;
    color: #000000;
    font-style: italic;
    font-size: 17px;
}

}

video {
  width: 100% !important;
  height: auto !important;
}

.my-video-dimensions {
  width: 100% !important;
}

.z-index-0 {
  z-index: 0;
  width: 100%;
}

#container.z-index-0 {
  width: 100%;
}

.owl-item {
  cursor: pointer
}

.owl-nav.disabled {
  display: block !important;
}

.owl-prev {
  right: -38px;
  position: absolute;
  top: 0px;
  background: black;
  background: url(/assets/img/prev.svg) center center no-repeat !important;
  height: 74px;
  border-radius: 0 !important;
  color: transparent !important;
  width: 38px;
  height: 75px;
  margin: 0 !important;
  padding: 0 !important;
}

.owl-next {
  left: -38px;
  position: absolute;
  top: 0px;
  background: black;
  background: url("/assets/img/next.svg") center center no-repeat !important;
  height: 74px;
  border-radius: 0 !important;
  color: transparent !important;
  width: 38px;
  height: 75px;
  margin: 0 !important;
  padding: 0 !important;
}

.owl-item {}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
  margin-bottom: -3px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mamnoon-nav {
  display: block;
}

.mamnoon-nav.mobile {
  display: none;
}

.mamnoon-nav.mobile .main-nav li:last-child {
  margin-left: 0;
}

.mobile-menu-links {
  display: none;
}

@media screen and (max-width: 768px) {
  #container {
    /*background: url(/assets/img/manSTgif2.gif) center center;*/
    background-position: center center;
    background-size: cover;
  }
  .mamnoon-nav ul li a {
    color: white;
    font-size: 19.8px;
    text-decoration: none;
  }
  .menu-bars {
    color: transparent;
    background: url(/assets/img/menu-bars.svg) top center no-repeat;
    width: 34px;
    height: 24px;
    margin: 1px auto 0;
  }
  .mamnoon-nav.mobile .main-nav {
    background-color: #DF5857;
  }
  .mamnoon-nav.mobile#nav ul.main-nav li:first-child {
    display: block;
    text-align: center;
  }
  .mamnoon-nav.mobile#nav ul.main-nav li {
    display: none;
    line-height: 30px;
  }
  .menu-bars {
    cursor: pointer;
  }
  .mamnoon-nav {
    display: none;
  }
  .mamnoon-nav.mobile {
    display: block;
  }
  .videoWrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .owl-carousel {
    width: 240px;
    height: 68px;
    margin: 0 auto;
  }
  .owl-prev, .owl-next {
    /*height: 68px;*/
  }
  .owl-prev {
    /*right: -35px;*/
  }
  .owl-next {
    /*left: -35px;*/
  }







}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}


.map-panel{
  width: 100%;
}



.map-text-header{
  background-color: #DF5857;
  font-size: 26px;
  color: white;
  float: left;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}



.map-panel{
  background: #fff;
  overflow: hidden;
  /*height: 40vh;*/

}

.map-text{
  background-color: #fff;
  font-size: 29px;
  color: white;
  float: left;
  width: 35%;
  text-align: center;
}

.map-text-body{
  color: #000;
  font-size: 13px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  margin: 95px 23px 30px 23px;
}

.map-module{
  width: 65%;
  float: left;
  position: relative;
  height: 0;
  /* overflow: hidden; */
  height: 40vh !important;
}


.map-module iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    /* height: 381px !important; */
    height: 680px !important;
    border: 0;
    margin-top: -150px;
}


.expand-contract{
  display: none;
}



.notification-bar h4,
.notification-bar-mobile h4{
  color: #fff;
  font-size: 20px;
  line-height: 34px;
}

.notification-bar{
  background: url(/assets/img/notification-bg.png);
  position: absolute;
  padding: 30px 0 30px 0;
  top: 54px;
  z-index: -1;
  width: 100%;
  text-align: left;
  color: #DF5857;
  line-height: 26px;
  width: 100%;
}

.notification-bar{
  background: url(/assets/img/notification-bg.png);
  position: absolute;
  padding: 20px 0 20px 0;
  z-index: -1;
  width: 100%;
  text-align: left;
  color: #DF5857;
  line-height: 26px;x
  width: 100%;
}

.notification-bar-body{
  width: 640px;
  margin: 0 auto;
  text-align: left;
}


.notification-bar-body p{
  font-size: 13px;
}

.notification-bar-mobile .notification-bar-body{
      width: 100%;
      padding: 0 15px;
}



.notification-bar-mobile .notification-bar-body {
    width: auto;
    padding: 0 15px;
}




.notification-bar-body p{
    text-align: left;
}


.map-text-body-mobile-text{
  display: none;
}

@media screen and (max-width: 1024px) {
  .map-text{
      height: auto;
      width: 100%;
  }

    .map-module{
        width: 100%;
        float: left;
        position: relative;
        height: 0;
        overflow: hidden;
        height: 400px !important;
    }

    .map-panel {
    height: auto !important;
    }


    .map-text-body{
      display: none;
    }

    .map-text-body-mobile{
      clear: both;
      display: block;
      background: #565555;
    }

    .map-text-body-mobile-text{
      color: #fff;
      /*font-size: 15px;*/
      /*line-height: 28px;*/
      font-size: 12px;
      line-height: 26px;
      font-weight: bold;
      text-align: left;
      margin: 25px 23px 0px 23px;
      padding: 21px 0 30px 0;

    }


.map-text-body-mobile-text{
  display: block;
}

}


.bottom-area{
  position: absolute;
  bottom: 0;
  width: 100%;
}




.bottom-area.mobile{
display: none;
}





@media screen and (max-width: 768px) {





  .pressitem{
    display: none;
  }

  .pressitem:nth-child(-n+4) {
      display: block;
  }

  .pressitem.expanded,
  .pressitem.expanded:nth-child(-n+4) {
      display: block;
  }




.content-container.press{
  position: relative;
  padding-bottom: 90px;
}

  .expand-contract{
    background: url(/assets/img/expandpress.svg);
    cursor: pointer;
    position: absolute;
    display: block;
    bottom: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    color: transparent;
  }

  .expand-contract.expanded{
    background: url(/assets/img/contractpress.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 18px;
  }



.map-text-header{
  background: #fff;
  color: #DF5857;
}

.about-body {
    margin-bottom: 20px;
  }




  .notification-bar-mobile .notification-bar-body {
      width: auto;
      padding: 30px 15px;
  }


.bottom-area .notification-bar-mobile{
    background: url(/assets/img/notification-bg.png);
    display: block;
    padding: 0;
    z-index: -1;
    text-align: left;
    color: #DF5857;
    line-height: 26px;
    width: 100%;
}


.bottom-area{
    display: none;
}

.bottom-area.mobile{
    display: block;
    position: inherit;
}



}



.open{
  cursor: pointer;
  color: transparent;
  width: 100%;
  height: 500px;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}


.order-coming-soon{
  background-color: rgba(86,85,85,.9);
  position: fixed;
  z-index: 1000000;
  margin: 0 auto;
  left: 50%;
  width: 500px;
  margin-left: -280px;
  padding: 30px;
  top: 54px;
}

.order-coming-soon h4{
  color: white;
  font-size: 58px;
  font-style: italic;
}

.order-coming-soon p{
  color: #DD5857;
  font-size: 22px;
  font-style: italic;
  margin-top: 10px;
}

.order-coming-soon .close {
      top: 0;
      right: 0;
      background-image: url(../img/close-up-modal-red.svg);
      background-color: transparent;
      background-repeat: no-repeat;
      border: 0;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 24px;
      right: 24px;
      margin-left: -16px;
      color: transparent;
      outline: none;
      cursor: pointer;
}

.open-coming-soon{
  cursor: pointer;
}




.catering-body p a{
  color: #DF5857;
  text-decoration: none;
}

.videoWrapper{
  margin: 0 auto -3px;
}

.left-about-panels .owl-carousel{
  max-width: 560px;
  margin: 0 auto;
}

/*768*/
@media screen and (max-width: 768px) {
.order-coming-soon{
  background-color: rgba(86,85,85,.9);
  position: fixed;
  z-index: 1000000;
  margin: 0 auto;
  left: 50%;
  width: 90%;
  margin-left: -50%;
  padding: 5%;
  top: 0;
}
}
