<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>Mamnoon Street - Order</title>

	<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

	<link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600'>
	<link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" type='text/css' href="{{ url('order/style.css') }}">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% set cart = craft.commerce.cart %}

{% block header %}
	<div id="header" class="container">
		<div class="row">
			<div class="twelve columns">




				<a href="{{ url('order') }}">{%- include "order/_images/logo" with {'class': 'logo'} -%}</a>

				{% include "order/_includes/nav" %}

				<div class="flash">{{ craft.session.getFlash('notice') }}</div>
				<div class="flash">{{ craft.session.getFlash('error') }}</div>

                <div class="row">
                    <div class="twelve columns">
                        {% for error in cart.errors %}
                            <div class="flash">{{ error|join(' ') }}</div>
                        {% endfor  %}
                    </div>
                </div>


            </div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="main" class="container">
		{% block main %}
			<div class="row">
				<div class="twelve columns">
					<h4>Default Content</h4>
					<p>You should not see this.</p>
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}



<!-- .page-menu-item -->






<!-- second one for modals -->




<div class="variant-container">


{% for product in craft.commerce.products.limit(5).find() %}
<div class="variant-modal" style="display:none;">
  <button class="close-variant-modal">close</button>

<div class="modal-background">

<div class="module-container">

 <h5>{{ product.title }}</h5>
            <!-- <img src="/assets/img/zaatar.jpg" alt="" style="width:100%;"> -->

            {% if product.variants|length %}
                <form method="POST" id="addToCartForm">
                    <input type="hidden" name="action" value="commerce/cart/updateCart">
                    <input type="hidden" name="redirect" value="order/cart">
                    <input type="hidden" name="qty" value="1">
                      <!-- <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br> -->
                      <!-- <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br> -->
                    {{ getCsrfInput() }}

                    <select name="purchasableId" class="purchasableId">
                        {%- for purchasable in product.variants -%}
                            <option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %}
                                    data-info="product-{{ product.id }}-purchasable-{{ purchasable.id }}"
                                    value="{{ purchasable.purchasableId }}">
                                    {{ purchasable.description }} {{ purchasable.salePrice|commerceCurrency(cart.currency) }}
                            </option>
                        {%- endfor -%}
                    </select>

               <!--      <select name="options[giftWrapped]">
                        <option value="no">No gift wrap.</option>
                        <option value="yes">Gift wrapped.</option>
                    </select> -->
                    {% if product.unlimitedStock or (product.unlimitedStock == false and product.totalStock > 0 ) %}
                        <button type="submit">{{ "Add to cart"|t }}</button>
                    {% else %}
                        {{ "Out of Stock"|t }}
                    {% endif %}
                </form>

</div></div>
</div>






            {% endif %}





{% endfor %}

</div>

<!-- end second one for modals -->





<!-- shopping cart module -->


{% include "parts/cart" %}

<!-- shopping cart module -->





<script type="text/javascript">


$('.page-menu-item').click(function(){
  // $('.variant-modal:eq('+ $(this).index()+')').fadeIn();

$('.variant-modal').remove();
$('body').prepend('<div class="variant-modal"><button class="close-variant-modal">close</button><div class="modal-background"><div class="module-container">'+ $(this).find('.prod-title').text() + '<form method="POST" id="addToCartForm">' + $(this).find("form").html() + '</form></div><h1>modal</h1></div></div>');

});



$('body').on('click', '.close-variant-modal', function(){

$('.variant-modal').remove();

});

// $('.close-variant-modal').click(function(){

//   $('.visible-modal').removeClass('visible-modal');

//   $(this).removeClass('visible');

// });


$('.close-variant-modal').click(function(){


$(this).parent().fadeOut();

});

$('.cart-expand').click(function(){
$('.cart-drawer').toggleClass('drawer-out');
});





$(function() {

    // $form = $("#addToCartForm");

    // handle submits via ajax

    $('body').on('submit', '#addToCartForm', function(e) {

        //Prevent the default submission
        e.preventDefault();

       //Get the form data
        var form_data = $("#addToCartForm").serializeArray();

        // ajax it over to the server
        $.ajax({
            type: 'post',
            url: '/',
            data: form_data,
            success: function(response) {
                if (response.success) {
                    $('.cart-drawer').addClass('drawer-out');

                    $cartChamber = $('.cart-drawer.drawer-out .row .twelve.columns');

                      var lineItemsCt = response.cart.lineItems;
                      var sp = '&nbsp;';

                        for(i=0;i<response.cart.totalLineItems;i++){
                        $cartChamber.prepend(lineItemsCt[Object.keys(lineItemsCt)[i]]['total'] + sp);
                        $cartChamber.prepend(lineItemsCt[Object.keys(lineItemsCt)[i]]['qty'] + sp);
                        $cartChamber.prepend(lineItemsCt[Object.keys(lineItemsCt)[i]]['price'] + sp);
                        $cartChamber.prepend(lineItemsCt[Object.keys(lineItemsCt)[i]]['snapshot'].product.title + sp);

                    }
                }else{
                    alert("Failure!");
                }
            }
        });
    });

});
</script>


</body>
</html>
