{% extends 'order/_layouts/main' %}

{% block main %}
<!-- 	<div class="row">
		<div class="twelve columns">
			<p>These are the Craft Commerce example templates.</p>
			<p>Resources:</p>
			<ul>
				<li><a href="https://craftcommerce.com/docs">Craft Commerce Documentation</a>.</li>
				<li><a href="https://craftcms.com/docs/introduction">Craft CMS Documentation</a>.</li>
				<li><a href="http://craftcms.stackexchange.com">Craft CMS Stack Exchange</a>. Use the <code>plugin-craftcommerce</code> tag.</li>
				<li><a href="https://craftcms.com/community#slack">Slack Community</a>. Use the <code>#craftcommerce</code> channel.</li>
			</ul>
		</div>
	</div> -->





    <div class="row product">
{% for product in craft.commerce.products.limit(5).find() %}

        <div class="three columns page-menu-item">

            <img src="/assets/img/zaatar.jpg" alt="" style="width:100%;">
image:
{{ product.title }}

        <div class="twelve columns">
            <!-- <h5>{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</h5> -->
            <h5 class="prod-title">{{ product.title }}</h5>


            {% if product.variants|length %}
            <div class="product-form" style="display: none;">
                <form method="POST" id="addToCartForm">
                    <input type="hidden" name="action" value="commerce/cart/updateCart">
                    <input type="hidden" name="redirect" value="order/cart">
                    <input type="hidden" name="qty" value="1">
                      <!-- <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br> -->
                      <!-- <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br> -->
                    {{ getCsrfInput() }}

                    <select name="purchasableId" class="purchasableId">
                        {%- for purchasable in product.variants -%}
                            <option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %}
                                    data-info="product-{{ product.id }}-purchasable-{{ purchasable.id }}"
                                    value="{{ purchasable.purchasableId }}">
                                    {{ purchasable.description }} {{ purchasable.salePrice|commerceCurrency(cart.currency) }}
                            </option>
                        {%- endfor -%}
                    </select>

               <!--      <select name="options[giftWrapped]">
                        <option value="no">No gift wrap.</option>
                        <option value="yes">Gift wrapped.</option>
                    </select> -->
                    {% if product.unlimitedStock or (product.unlimitedStock == false and product.totalStock > 0 ) %}
                        <button type="submit">{{ "Add to cart"|t }}</button>
                    {% else %}
                        {{ "Out of Stock"|t }}
                    {% endif %}
                </form>
            </div>

       {% endif %}



                {% if currentUser %}
                {% set order = craft.commerce.orders.user(currentUser).hasPurchasables(product.defaultVariant).find() %}
                {% if order|length %}
              <!--       <strong>This is item was in a previous order - Order the same thing again!</strong> <a href="customer/order?orderNumber={{ order[0].number }}">Order #{{ order[0].shortNumber }}</a> -->
                {% endif %}
                {% endif %}

                {%- for purchasable in product.variants -%}
                    <div id="product-{{ product.id }}-purchasable-{{ purchasable.id }}" class="purchasableInfo" style="display:none;">
                        <strong>Regular Price: </strong><strike>{{ purchasable.price|commerceCurrency(cart.currency) }}</strike><br>
                        <strong>Now: </strong>{{ purchasable.salePrice|commerceCurrency(cart.currency) }}<br>
                        {% if purchasable.salesApplied %}<strong>Sales Applied:</strong><br>{% endif %}
                        <ul>
                            {% for sale in purchasable.salesApplied  %}
                            <li><strong>{{ sale.name }}</strong> {{ sale.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {%- endfor -%}


        </div>



        </div>


{% endfor %}
    </div>




{% endblock %}
