{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link href="http://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">


    {% includeCssFile "assets/css/style.css" %}
</head>

<body>
    <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="assets/street.mp4" type="video/mp4">
    </video>
</div>


	<div id="container">
<button class="hows-line">hows the line?</button>

        {% include "parts/social" %}
		<header id="header">


			<h1>
				<a href="{{ siteUrl }}">


<img class="header-logo" src="assets/logo.png" alt="Mamnoon Street">

{% for logoImage in craft.entries.section('siteLogo') %}
{% for asset in logoImage.image %}
    <img src="{{ asset.url }}" alt="" alt="logo" style="width:100%;">
{% endfor %}
{% endfor %}




				</a></h1>


        {% include "parts/nav" %}

		<!-- 	<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav> -->
		</header>

		<main id="content" role="main" style="display:none;">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>






{% if entry.section == "Homepage" %}
<h1></h1>

{% include "parts/carousel" %}



{% include "parts/menu" %}

<!-- // parts/contact was removed from here -->


{% include "parts/hours-location" %}

{% endif %}

{% if entry.section == "about" %}
<h1>this is the about page</h1>


{{entry.body}}

{% endif %}








		<footer id="footer">
        {% include "parts/social" %}
		</footer>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/assets/js/owl.carousel.min.js"></script>

<script type="text/javascript" src="/assets/js/swipe.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrolldepth.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/assets/js/unslider.js"></script>
<script type="text/javascript" src="/assets/js/jquery.sticky.js"></script>




<script type="text/javascript">


$('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})


</script>


<script type="text/javascript">

$('.menu-nav li:not(:last-child)').click(function(){

    $('.menu-nav li:not(:last-child), .menu').removeClass('active');
    $(this).addClass('active');
    $menuList = '#' + $(this).data('menu-id');

    $($menuList).addClass('active');

});



// form


    window.csrfTokenName = "{{ craft.config.get('csrfTokenName') }}";
    window.csrfTokenValue = "{{ craft.request.getCsrfToken }}";


$(function() {

    // Get the form.
    var form = $('#ajax-contact');

    // Get the messages div.
    var formMessages = $('#form-messages');

    // Set up an event listener for the contact form.
    $(form).submit(function(e) {
        // Stop the browser from submitting the form.
        e.preventDefault();

        // Serialize the form data.
        var formData = $(form).serialize();

        // formData[window.csrfTokenName] = window.csrfTokenValue;

        // Submit the form using AJAX.
        $.ajax({
            type: 'POST',
            url: $(form).attr('action'),
            data: formData
        })
        .done(function(response) {
            // Make sure that the formMessages div has the 'success' class.
            $(formMessages).removeClass('error');
            $(formMessages).addClass('success');

            $(formMessages).delay(1000).fadeOut('slow');

            // Set the message text.
            $(formMessages).text(response);
            // Clear the form.
            $('#name').val('');
            $('#email').val('');
            $('#subject').val('');
            $('#message').val('');
        })
        .fail(function(data) {
            // Make sure that the formMessages div has the 'error' class.
            $(formMessages).removeClass('success');
            $(formMessages).addClass('error');

            // Set the message text.
            if (data.responseText !== '') {
                $(formMessages).text(data.responseText);
            } else {
                $(formMessages).text('Oops! An error occured and your message could not be sent.');
            }
        });

    });

});


// form


$('.hows-line').click(function(){


    $('.line-modal').show();

});


$('.close').click(function(){


    $('.line-modal').hide();

});


</script>


</body>
</html>
