{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link href="http://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
{% includeCssFile "assets/css/style.css" %}
{% if entry.section == "about" %}
<style type="text/css">
.main-nav li.about a{
    color: #000;
}
</style>
{% endif %}




<style>
  .videojs-background-wrap {
    overflow:hidden;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index: -998;
  }
</style>

  <link href="http://vjs.zencdn.net/6.2.8/video-js.min.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <!-- <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>

<body>

{% if entry.section == "Homepage" %}

    <button class="hows-line">hows the line?</button>
    {% endif %}
            {% include "parts/nav" %}






       {% if entry.section == "Homepage" %}
    <div class="fullscreen-bg">





</div>



    {% endif %}





<div id="container" style="height: 100vh;display: table;">

{% if entry.section == "Homepage" %}

    <div class="logo-header" style="">mamnoon</div>


<div class="flashing-text-box" style="height: 100vh;display: table;text-align: center;width: 100%;">
<div class="flashing-text"><h1>
{% for text in craft.entries.section('globals') %}
{{text.flashingText}}
{% endfor %}




</h1>


</div>

</div>
             <!-- <video id="bg-video" poster="/assets/img/poster.png" loop> -->


             {% if craft.request.isMobileBrowser %}
             <!--<h1>mobile</h1>-->
               {% else %}

<video id="bg-video" loop>

      <p>
        Your browser doesn't support video. Please <a href="http://browsehappy.com/">upgrade your browser</a> to see the example.
      </p>
  <source src="assets/street-sm.mp4" type="video/mp4">
    </video>

{% endif %}

{% endif %}











{% include "parts/hours-location" %}

	</div>


<div id="about" class="about-panel" style="">


  {% if entry.section == "Homepage" %}




  <div class="about-panels" style="">

  <div class="left-about-panels">


  {% include "parts/aboutUsVideoSection" %}

  </div>
  <div class="right-about-panels">


  {% include "parts/cateringSection" %}

  <div class="press-panel">
      <div class="press-tab">press</div>
          <div class="content-container press clearfix">

  {% include "parts/press" %}

  </div>
  </div>
  <div class="mobile-footer-social">

  {% include "parts/social" %}
  </div>
  </div>
  </div>



  {% endif %}


</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/assets/js/owl.carousel.min.js"></script>

<script type="text/javascript" src="/assets/js/swipe.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrolldepth.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-transition.js"></script>
<!-- <script type="text/javascript" src="/assets/js/unslider.js"></script> -->
<!-- <script type="text/javascript" src="/assets/js/jquery.sticky.js"></script> -->




<script type="text/javascript">



$('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:0,
    nav:true,
    dots: false,
    mouseDrag: false,
    touchDrag: false,
    responsive:{
768: {items: 5},
0: {items: 2}
    }
})



$('.owl-carousel .item').on('click', function(){

$('videoWrapper iframe').hide();



$('iframe#' + $(this).attr('data')).parent().show();
$('iframe#' + $(this).attr('data')).show();



});







</script>




<script type="text/javascript">

$('.menu-nav li:not(:last-child)').click(function(){

    $('.menu-nav li:not(:last-child), .menu').removeClass('active');
    $(this).addClass('active');
    $menuList = '#' + $(this).data('menu-id');

    $($menuList).addClass('active');

});





$('.hows-line').click(function(){


    $('.line-modal').show();

});


$('.close').click(function(){


    $('.line-modal').hide();

});


</script>

<script>

$(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll >= $('#about').offset().top - 56) {
        $(".about a").addClass("current");
    } else {
        $(".about a").removeClass("current");
    }
});

$(".about a").click(function(e) {
  e.preventDefault();
    $('html, body').animate({
        scrollTop: $("#about").offset().top - 56
    }, 500);
});



$('.menu-bars').click(function(){

$('.mobile-menu-links').slideToggle();

});


var pressStack = function(){

  if ($(window).width() > 768){

    if($('.pressitem').length > 8){

  $('.content-container.press').css({
    'padding-left' : '19.7%'
  });

    $('.pressitem').css({
      'width': '50%',
      'float': 'left'
    });

    }else{

      $('.content-container.press').css({
        'padding-left' : '37%'
      });

        $('.pressitem').css({
          'width': '100%',
          'float': 'left'
        });



    }




  }else{

    $('.content-container.press').css({
      'padding-left' : '30px'
    });

      $('.pressitem').css({
        'width': '100%',
        'float': 'left'
      });



  }


}


$(document).ready(function(){
  pressStack();
});

$(window).resize(function(){
  pressStack();
});








</script>




{% if entry.section == "Homepage" %}


{% if craft.request.isMobileBrowser %}
<!--<h1>mobile</h1>-->
  {% else %}
<!--<h1>not mobile</h1>-->
<script src="http://vjs.zencdn.net/6.2.8/video.js"></script>
<script src="/assets/js/videojs-background.js"></script>
<script>
videojs('bg-video').Background();
</script>
{% endif %}






{% endif %}



<script type="text/javascript">

$('.flashing-text-box').css('height', $(window).height() - 45 );

$(window).resize(function(){

$('.flashing-text-box').css('height', $(window).height() - 45 );


});

</script>

<script type="text/javascript">
// var phrases = ['TASTY!','SO FRESH!','FAST FOOD!','QUALITY!'];
// var end = phrases.length - 1;
// var counter = 0;
// var mixUp = setInterval(function(){
//   if(phrases[counter].split(' ').length === 2){
//   $(".flashing-text h1").fadeOut(750, function() {
//     $(this).text(phrases[counter]).delay(2000).css('text-align', 'left').fadeIn(1000);
//   })
// }else{
//   $(".flashing-text h1").fadeOut(750, function() {
//     $(this).text(phrases[counter]).delay(2000).css('text-align', 'center').fadeIn(1000);
//   })
// }
// if(counter === end){
//   counter = 0;
// }else{
//   counter = counter + 1;
// }
// }, 5000);
</script>




</body>
</html>
