{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
{% includeCssFile "assets/css/style.css" %}
{% if entry.section == "about" %}
<style type="text/css">
.main-nav li.about a{
    color: #000;
}
</style>
{% endif %}




<style>
  .videojs-background-wrap {
    overflow:hidden;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index: -998;
  }
</style>

  <link href="http://vjs.zencdn.net/6.2.8/video-js.min.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <!-- <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>

<body>

{% if entry.section == "Homepage" %}
  {% for text in craft.entries.section('globals') %}
    {% if text.lineCamera | length %}
      <button class="hows-line">hows the line?</button>
    {% endif %}
  {% endfor %}
{% endif %}

            {% include "parts/nav" %}






       {% if entry.section == "Homepage" %}
    <div class="fullscreen-bg">





</div>



    {% endif %}





<div id="container" style="height: 100vh;display: table;">

{% if entry.section == "Homepage" %}
<div class="logo-header" style="">mamnoon</div>
<div class="flashing-text-box" style="height: 100vh;display: table;text-align: center;width: 100%;position: relative;">
{% for text in craft.entries.section('globals') %}
{% if text.notificationHeader %}
<div class="notification-bar">
<div class="notification-bar-body">
  <h4>
  {{ text.notificationHeader }}
</h4>
<p>
  {{ text.notificationText }}
</p>
</div>
</div>
  {% endif %}
  {% endfor %}



  <!-- {% for text in craft.entries.section('globals') %}
  {% if text.notificationHeader %}
  <div class="notification-bar-mobile">
  <div class="notification-bar-body-mobile">
    <h4>
    {{ text.notificationHeader }}
  </h4>
  <p>
    {{ text.notificationText }}
  </p>
  </div>
  </div>
    {% endif %}
    {% endfor %} -->



<div class="flashing-text"><h1>

  {% for entry in craft.entries.section('globals') %}
  {% for block in entry.landingPageTextMarquee %}

  {% if loop.first %}
    
    {% if block.type == 'singleLinePhrase' %}
  {{ block.phrase|raw }}
    {% elseif block.type == 'twoLinePhrase' %}
      <span style="display:block;"><span class="line1">{{ block.phraseLineOne|raw }}</span></span>
      <span style="display:block;"><span class="line2">{{ block.phraseLineTwo|raw }}</span></span>
      {% endif %}



      {% endif %}

  {% endfor %}
  {% endfor %}

</h1>


</div>

</div>
             <!-- <video id="bg-video" poster="/assets/img/poster.png" loop> -->


             {% if craft.request.isMobileBrowser %}
             <!--<h1>mobile</h1>-->
               {% else %}

<video id="bg-video" loop>

      <p>
        Your browser doesn't support video. Please <a href="http://browsehappy.com/">upgrade your browser</a> to see the example.
      </p>
  <source src="assets/street-sm.mp4" type="video/mp4">
    </video>

{% endif %}

{% endif %}











{% include "parts/hours-location" %}

	</div>


<div id="about" class="about-panel" style="">


  {% if entry.section == "Homepage" %}




  <div class="about-panels" style="">

  <div class="left-about-panels">


  {% include "parts/aboutUsVideoSection" %}




  </div>
  <div class="right-about-panels">


  {% include "parts/cateringSection" %}

  <div class="press-panel">
      <div class="press-tab">press</div>
          <div class="content-container press clearfix">

  {% include "parts/press" %}




<div class="expand-contract">
  plusminus
</div>

  </div>
  </div>


  {% include "parts/map" %}




  <div class="mobile-footer-social">

  {% include "parts/social" %}
  </div>
  </div>
  </div>



  {% endif %}


</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/assets/js/owl.carousel.min.js"></script>

<script type="text/javascript" src="/assets/js/swipe.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrolldepth.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-transition.js"></script>
<!-- <script type="text/javascript" src="/assets/js/unslider.js"></script> -->
<!-- <script type="text/javascript" src="/assets/js/jquery.sticky.js"></script> -->




<script type="text/javascript">



$('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:0,
    nav:true,
    dots: false,
    mouseDrag: false,
    touchDrag: false,
    responsive:{
768: {items: 5},
0: {items: 2}
    }
})



$('.owl-carousel .item').on('click', function(){

$('.videoWrapper').hide();

$('.videoWrapper iframe').hide();

// console.log($(this).attr('data'));

$('iframe#' + $(this).attr('data')).parent().show();
$('iframe#' + $(this).attr('data')).show();



});







</script>




<script type="text/javascript">

$('.menu-nav li:not(:last-child)').click(function(){

    $('.menu-nav li:not(:last-child), .menu').removeClass('active');
    $(this).addClass('active');
    $menuList = '#' + $(this).data('menu-id');

    $($menuList).addClass('active');

});





$('.hows-line').click(function(){


    $('.line-modal').show();

});


$('.close').click(function(){


    $('.line-modal').hide();

});


</script>

<script>

$(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll >= $('#about').offset().top - 56) {
        $("a.about").addClass("current");
    } else {
        $("a.about").removeClass("current");
    }
});

$("a.about").click(function(e) {
  e.preventDefault();
    $('html, body').animate({
        scrollTop: $("#about").offset().top - 56
    }, 500);
});



$('.menu-bars').click(function(){

$('.mobile-menu-links').slideToggle();

});


var pressStack = function(){

  if ($(window).width() > 768){

    if($('.pressitem').length > 8){

  $('.content-container.press').css({
    'padding-left' : '19.7%'
  });

    $('.pressitem').css({
      'width': '50%',
      'float': 'left'
    });

    }else{

      $('.content-container.press').css({
        'padding-left' : '19.7%'
      });

        $('.pressitem').css({
          'width': '50%',
          'float': 'left'
        });


    }




  }else{

    $('.content-container.press').css({
      'padding-left' : '30px'
    });

      $('.pressitem').css({
        'width': '100%',
        'float': 'left'
      });



  }


}


$(document).ready(function(){
  pressStack();
});

$(window).resize(function(){
  pressStack();
});




$('.expand-contract').click(function(){

  $(this).toggleClass('expanded');
  $('.pressitem').toggleClass('expanded');

});



</script>




{% if entry.section == "Homepage" %}


{% if craft.request.isMobileBrowser %}
<!--<h1>mobile</h1>-->
  {% else %}
<!--<h1>not mobile</h1>-->
<script src="http://vjs.zencdn.net/6.2.8/video.js"></script>
<script src="/assets/js/videojs-background.js"></script>
<script>
videojs('bg-video').Background();
</script>
{% endif %}






{% endif %}



<script type="text/javascript">



var marqueefunction = function(){
if ($(window).width() > 1300){
if ($('.notification-bar').length === 0) {
var newHeight = $('.notification-bar').height() - 28;
$('.flashing-text h1').css('margin-top', newHeight);

}else{
var newHeightFix = $('.notification-bar').height() + 60 - 28;
  $('.flashing-text h1').css('margin-top', newHeightFix);
}
$('.flashing-text-box').css('height', $(window).height() - 45 );
$(window).resize(function(){
$('.flashing-text-box').css('height', $(window).height() - 45 );
});
}else if($(window).width() < 1300){
  if ($('.notification-bar').length === 0) {
  var newHeight = -$('.notification-bar').height() - 20;
  $('.flashing-text h1').css('margin-top', newHeight);

  }else{
  var newHeightFix = -$('.notification-bar').height() - 60 - 20;
    $('.flashing-text h1').css('margin-top', newHeightFix);
  }
  $('.flashing-text-box').css('height', $(window).height() - 45 );
  $(window).resize(function(){
  $('.flashing-text-box').css('height', $(window).height() - 45 );
  });
}else{}
}

marqueefunction();

$(window).resize(function(){
  marqueefunction();

});



</script>

<script type="text/javascript">
var phrases = [];

$('.phrase-list .phrase').each(function(){
  phrases.push($(this).text().trim().split(' '));
});
console.log(phrases);
var end = phrases.length - 1;
var counter = 0;
var mixUp = setInterval(function(){

  if(phrases[counter].length === 2){

    $(".flashing-text h1").fadeOut(750, function() {
      $(this).html(phrases[counter][0]).delay(2000).css({'text-align': 'center', 'margin-left' : '0'}).fadeIn(1000);
    });

  }else{

    $(".flashing-text h1").fadeOut(750, function() {
      $(this).html('<span style="display:block;"><span class="line1">' + phrases[counter][0] + '</span></span><span style="display:block;"><span class="line2">' + phrases[counter][1] + '</span></span>').delay(2000).css({'text-align': 'center'}).fadeIn(1000);
    });

    // if($('.flashing-text h1 span span.line1').width() > $('.flashing-text h1 span span.line2').width()){
    //   var innerMarginSize = $('.flashing-text h1 span span.line1').width();
    // }else{
    //   var innerMarginSize = $('.flashing-text h1 span span.line2').width();
    // }
    //   var wordingMargin = innerMarginSize / $('.flashing-text h1 span').width()
    //   var wordingMarginPercent = wordingMargin * 100;
    //
    // console.log(wordingMarginPercent);
}


if(counter === end){
  counter = 0;
}else{
  counter = counter + 1;
}
}, 5000);


</script>


<!-- map external -->
<script type="text/javascript">
$('.open').click(function() {


window.open($(this).parent().attr('data'),'_newtab');


 });
</script>



</body>
</html>
